body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  background: #F6F6E6;
  color: #333;
  font-size: 17px;
  line-height: 22px; }

h1 {
  font-size: 32px;
  line-height: 38px; }

main img {
  cursor: pointer; }

@-webkit-keyframes btn-filling {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#31B03C));
    background-image: linear-gradient(to right, #ffffff, #31B03C); }
  15% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  30% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  45% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  60% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  75% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  80% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  90% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); } }

@keyframes btn-filling {
  0% {
    background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#31B03C));
    background-image: linear-gradient(to right, #ffffff, #31B03C); }
  15% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  30% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  45% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  60% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  75% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  80% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  90% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); }
  100% {
    background-image: -webkit-gradient(linear, left top, right top, from(#31B03C), color-stop(#31B03C), to(#31B03C));
    background-image: linear-gradient(to right, #31B03C, #31B03C, #31B03C); } }

@font-face {
  font-family: "Helveticaneue";
  src: url("../fonts/helveticaneue/HelveticaNeue Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Helveticaneue";
  src: url("../fonts/helveticaneue/HelveticaNeue Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Helveticaneue";
  src: url("../fonts/helveticaneue/Helvetica Neu Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "Helveticaneue";
  src: url("../fonts/helveticaneue/HelveticaNeueIt.ttf") format("truetype");
  font-style: italic; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  padding-top: 42px;
  background: url("../img/bg-header-8.jpg") no-repeat;
  background-position: 0 bottom;
  background-size: cover; }
  @media (min-width: 768px) {
    .page-header {
      padding-top: 0;
      background-position: center -180px; } }

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .page-header__wrapper {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .page-header__wrapper {
      max-width: 1000px; } }

.page-header__logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

.page-header__logo img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 300px;
  margin: 0 auto; }

.page-header__contacts {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: center;
  list-style: none; }

.page-header__contacts li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px; }

.page-header__number {
  text-align: center; }

.page-header__number a {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto;
  margin: 5px 15px;
  text-shadow: 3px 1px 1px #000; }

.page-header__number a:hover,
.page-header__number a:focus {
  color: #31B03C;
  text-shadow: 2px 1px 1px #31B03C; }

.page-header__number a:active {
  color: #31B03C;
  text-shadow: 1px 1px 1px #31B03C; }

.page-header__social-btn {
  display: inline-block; }

.page-header a {
  color: white;
  text-decoration: none; }

@media (min-width: 768px) {
  .page-header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .page-header__logo {
    width: 50%; }
  .page-header__logo img {
    width: 80%;
    margin: 0; }
  .page-header__contacts {
    width: 50%;
    padding-top: 30px;
    text-align: right; }
  .page-header__number {
    text-align: right; } }

@media (min-width: 1000px) {
  .page-header__contacts {
    padding-top: 40px; } }

.main-nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid rgba(22, 49, 92, 0.5);
  background: white;
  font-size: 19px; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__list li {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.main-nav__list a {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: black; }

.main-nav__list a:hover,
.main-nav__list a:focus {
  color: #31B03C;
  -webkit-box-shadow: inset 0px -4px 6px -4px #31B03C, inset 0px 4px 6px -4px #31B03C;
          box-shadow: inset 0px -4px 6px -4px #31B03C, inset 0px 4px 6px -4px #31B03C; }

.main-nav__list a:active {
  color: #31B03C; }

.burger {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  margin: 12px 0;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out; }
  .burger::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.burger-check {
  display: none; }

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out; }
  .burger-check:checked ~ .burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .burger-check:checked ~ .burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.main-nav__list {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out; }

.burger-check:checked ~ .main-nav__list {
  max-height: 500px;
  -webkit-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out; }

@media (min-width: 768px) {
  .burger,
  #burger-check,
  .burger-check {
    display: none; }
  .main-nav {
    position: relative;
    display: block;
    left: 0;
    bottom: 0;
    margin-top: 50px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    z-index: 0; }
  .main-nav__list {
    max-height: 70px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .main-nav__list a {
    padding: 15px 10px; }
  .main-nav__list a:hover,
  .main-nav__list a:focus {
    -webkit-box-shadow: inset 0px -4px 6px -4px #31B03C;
            box-shadow: inset 0px -4px 6px -4px #31B03C; } }

.social-btn {
  display: inline-block;
  background: url("../img/social-sprite.png") no-repeat;
  overflow: hidden;
  font-size: 0;
  text-align: left;
  margin: 15px;
  width: 48px;
  height: 48px; }

.social-btn:hover,
.social-btn:focus {
  -webkit-filter: brightness(120%) drop-shadow(0px 0px 5px #000000);
          filter: brightness(120%) drop-shadow(0px 0px 5px #000000); }

.social-btn:active {
  -webkit-filter: brightness(80%) drop-shadow(0px 0px 5px #fff);
          filter: brightness(80%) drop-shadow(0px 0px 5px #fff); }

.social-btn-vk {
  background-position: -5px -106px; }

.social-btn-wa {
  background-position: -5px -0px; }

.social-btn-v {
  background-position: -5px -53px; }

@media (min-width: 768px) {
  .social-btn {
    margin: 5px 15px; } }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .about {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .about {
      max-width: 1000px; } }

.about__title {
  text-align: center; }

.about__slider {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.about__slider img {
  width: 100%;
  border-radius: 10px; }

@media (min-width: 768px) {
  .about {
    display: block; }
  .about__slider {
    float: right; }
  .about__slider {
    width: 40%;
    margin: 0;
    margin-left: 5%; } }

.slider {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  height: 260px;
  margin: 15px 0;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto;
  outline: none; }
  @media (min-width: 768px) {
    .slider {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .slider {
      max-width: 1000px; } }

.slider img {
  margin: 20px 5px;
  border-radius: 15px;
  outline: none; }

.slick-next {
  right: 10px; }

.slick-prev {
  left: 10px;
  z-index: 10; }

.features {
  padding: 15px 10px;
  border-top: 1px solid green;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .features {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .features {
      max-width: 1000px; } }

.features__title {
  text-align: center; }

.rooms {
  padding: 0;
  padding-bottom: 20px;
  border-top: 1px solid green;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .rooms {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .rooms {
      max-width: 1000px; } }

.rooms__text {
  font-size: 16px; }

.rooms__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background: #DEDEDE;
  border-radius: 10px; }

.rooms__title {
  width: 100%;
  text-align: center; }

.rooms__quantity {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%; }

.rooms__quantity a {
  display: block;
  padding: 15px 0px;
  color: #333;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500; }
  .rooms__quantity a:hover, .rooms__quantity a:focus {
    color: #31B03C; }

.rooms__gallery-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 30px;
  box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .rooms__gallery-block {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .rooms__gallery-block {
      max-width: 1000px; } }

.rooms__gallery-block img {
  width: 300px;
  margin: 20px; }

.rooms__quantity .rooms__quantity--activ {
  color: green;
  border-bottom: 1px solid green; }

@media (min-width: 500px) {
  .rooms__gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .rooms__quantity {
    width: 50%; }
  .rooms__quantity--left {
    text-align: right;
    border-right: 1px solid green; }
  .rooms__quantity--right {
    text-align: left; }
  .rooms__gallery-block img {
    width: 250px; } }

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center; }

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%; }

.popup_img {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  max-height: 90%;
  max-width: 90%;
  margin: 1% 0 0 0; }

.location {
  padding: 15px 10px;
  border-top: 1px solid green;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .location {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .location {
      max-width: 1000px; } }

.location__title {
  text-align: center; }

.location__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.location__list li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  margin: 5px; }

.location__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px; }

.location__slider img {
  width: 30%; }

.book {
  padding: 15px 10px;
  padding-bottom: 30px;
  border-top: 1px solid green;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .book {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .book {
      max-width: 1000px; } }

.book__title {
  text-align: center; }

.book__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px; }

.book__block {
  width: 100%; }

.book input,
.book select,
.book textarea {
  border: 1px solid #9C9DDE;
  border-radius: 4px; }

.book input:hover,
.book input:focus,
.book select:hover,
.book select:focus,
.book textarea:hover,
.book textarea:focus {
  border: 1px solid #31B03C;
  -webkit-box-shadow: 0px 0px 2px 1px #9D9D9D;
          box-shadow: 0px 0px 2px 1px #9D9D9D;
  outline: 0; }

.book__block--left input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  padding: 5px 20px 5px 10px;
  margin: 10px auto; }

.book__block--right label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin: 10px auto; }

.book__block--right select {
  padding: 3px;
  margin: 5px 2px; }

.book__block--right select[name="people"],
.book__block--right select[name="children"] {
  width: 130px; }

.book span {
  display: block;
  padding-top: 10px;
  margin-right: auto; }

.book__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 300px;
  margin: 10px auto; }

.book__date span {
  margin-bottom: 2px; }

.book__comment {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  height: 100px;
  padding: 10px;
  margin: 20px 10%; }

.book .book__btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  padding: 12px;
  margin: 10px auto;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 18px;
  font-weight: 400;
  color: #31B03C;
  background: white;
  border: 2px solid #31B03C; }

.book .book__btn:hover,
.book .book__btn:focus {
  border: 2px solid #31B03C;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #ffffff;
  -webkit-animation-name: btn-filling;
          animation-name: btn-filling;
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }

@media (min-width: 768px) {
  .book__block {
    width: 50%; }
  .book__block--left input,
  .book__block--right label,
  .book__date {
    width: 400px; } }

.news {
  padding: 10px 20px 10px;
  border-top: 1px solid green;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .news {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .news {
      max-width: 1000px; } }

.news__title {
  width: 100%;
  margin-bottom: 30px;
  text-align: center; }
  .news__title a {
    color: #333;
    text-decoration: none; }
  .news__title a:hover,
  .news__title a:focus {
    color: #31B03C; }

.news__post--small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-bottom: 40px;
  border-radius: 10px; }

.news__post--big {
  margin-bottom: 20px;
  border-bottom: 1px solid green; }
  .news__post--big .news__post-img {
    margin: 20px auto; }

.news__post-img {
  display: block;
  width: 100%;
  border-radius: 10px; }

.news__post--small .news__post-img {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.container {
  position: relative;
  z-index: 10; }

.container::before {
  position: absolute;
  content: "";
  left: 0;
  z-index: 5;
  width: 300%;
  height: 100%;
  background: white; }

.news__text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-bottom: 15px;
  text-align: justify; }

.news__post-title {
  margin-top: 10px;
  text-align: left;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  color: black; }
  .news__post-title a {
    color: #333;
    text-decoration: none; }
  .news__post-title a:hover,
  .news__post-title a:focus {
    color: #31B03C; }

@media (min-width: 768px) {
  .news__post--small {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .news__post--small .news__post-img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 25%; }
  .news__post--small .news__text {
    padding-left: 30px; }
  .news__post-img {
    width: 50%;
    margin: 0 auto; } }

.news__btnAllpost {
  display: block;
  color: #31B03C;
  padding: 15px 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  text-shadow: 1px 1px 1px #333;
  text-transform: uppercase;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  text-decoration: none; }
  .news__btnAllpost:hover, .news__btnAllpost:focus {
    text-shadow: 1px 1px 1px white; }

.page-footer {
  padding: 1px;
  background: #6BA3F6; }

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .page-footer__wrapper {
      max-width: 1000px; } }
  .page-footer__wrapper p {
    margin: 10px; }

.page-footer a,
.page-footer {
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none; }

.page-footer a {
  margin: 3px; }

.page-footer a:hover,
.page-footer a:focus {
  color: #065006; }

.page-footer__contacts a {
  display: block; }

@media (min-width: 768px) {
  .page-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .page-footer__contacts {
    text-align: right; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .contacts {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .contacts {
      max-width: 1000px; } }

.contacts__text {
  padding-bottom: 20px; }
  .contacts__text span {
    display: block;
    margin: 5px 0;
    margin-top: 20px;
    color: grey;
    font-size: 18px; }
  .contacts__text p {
    margin: 5px 0; }
  .contacts__text a {
    display: block;
    padding: 2px;
    color: #333;
    text-decoration: none; }
  .contacts__text a:hover {
    color: #31B03C; }

.contacts__map {
  width: 100%;
  height: 500px; }
  .contacts__map iframe {
    -webkit-box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.5); }

@media (min-width: 768px) {
  .contacts__text {
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 30px; }
  .contacts__map {
    width: 50%;
    padding: 40px 0;
    height: auto; } }

.fqa {
  padding: 15px 20px;
  padding-bottom: 35px;
  text-align: justify;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .fqa {
      max-width: 768px; } }
  @media (min-width: 1000px) {
    .fqa {
      max-width: 1000px; } }

.fqa__title {
  width: 100%;
  margin-bottom: 30px;
  text-align: center; }

.fqa__text-center {
  width: 80%;
  text-align: center;
  margin: 0 auto; }

.map {
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 20px; }

.map__title {
  width: 100%;
  padding: 20px 0;
  margin: 0;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #000;
  font-size: 21px;
  line-height: 27px;
  color: white;
  border-radius: 15px;
  background: url("../img/location-2.jpg") no-repeat;
  background-size: 100%;
  background-position: left bottom; }
  .map__title:hover {
    color: #31B03C; }

.map__title--bottom-corners {
  border-radius: 15px 15px 0 0; }

.map iframe {
  border-radius: 0 0 15px 15px; }
