body {
	margin: 0;
	padding: 0;
  font-weight: 300;
	color: #333;
	font-size: 17px;
	line-height: 22px;
	background: url("../img/bg-header-8.jpg") right top no-repeat;
	background-size: auto 100vh;
	background-attachment: fixed; 
	@media ($tablet-widths) {
			background-size: cover;
	}

}

main {
	@include container-fluid();
	padding: 0 10px;
	 @media ($tablet-widths) {
 		padding: 0;
 }
}

section {
	padding: 15px 10px;
	margin: 30px 0;
	border-radius: 10px;
	background: white;
	box-shadow: 0px 1px 30px 2px rgba(0, 0, 0, 0.5);
	@media ($tablet-widths) {
 		padding: 10px 20px 30px;
 }
}

h1 {
	font-size: 32px;
	line-height: 38px;
}

main img {
	cursor: pointer;
}



.popup {
	position: fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}
.popup_bg {
	background:rgba(44,44,44,0.7);
	position:absolute;
	z-index: 6;
	height:100%;
	width:100%;
}
.popup_img {
	position: relative;
	box-sizing: border-box;
	margin:0 auto;
	z-index: 6;
	max-height: 90%;
	max-width: 90%;
	margin:1% 0 0 0;
	 @media (max-width: 768px) {
	 	padding-top: 80px;
	 }
}



@keyframes btn-filling {
		    0% {
					background-image: linear-gradient(to right, #ffffff, $hovercolor);
		    }
		    15% {
		      background-image: linear-gradient(to right, $hovercolor, $hovercolor, $hovercolor);
		    }
		    30% {
		      background-image: linear-gradient(to right, $hovercolor, $hovercolor, $hovercolor);
		    }
		    45% {
		      background-image: linear-gradient(to right, $hovercolor, $hovercolor, $hovercolor);
		    }
		    60% {
		      background-image: linear-gradient(to right, $hovercolor, $hovercolor, $hovercolor);
		    }
		    75% {
		      background-image: linear-gradient(to right, $hovercolor, $hovercolor, $hovercolor);
		    }
		    80% {
		      background-image: linear-gradient(to right, $hovercolor, $hovercolor, $hovercolor);
		    }
		    90% {
		      background-image: linear-gradient(to right, $hovercolor, $hovercolor, $hovercolor);
		    }
		    100% {
		      background-image: linear-gradient(to right, $hovercolor, $hovercolor, $hovercolor);
		    }
		}


