.about {
	display: flex;
	flex-direction: column;
	margin-top: 0;
	border-radius: 10px;
}

.about__title {
	text-align: center;
}

.about__photo {
	order: 1;
}

.about__photo img {
	width: 100%;
	border-radius: 10px;
}


@media ($tablet-widths) {
	.about {
		display: block;
		border-radius:  0 0 10px 10px;
	}

	.about__photo {
		float: right;
	}
	
	.about__photo  {
		width: 30%;
		margin: 0;
		margin-left: 5%;

	}
}

