.fqa {
	padding: 15px 10px;
	padding-bottom: 35px;;
  text-align: justify;
  @include container-fluid();
}

.fqa__title {
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
}
.fqa__text-center {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}