.location {
	text-align: left;
}
.location__title {
	text-align: center;
}

.location__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.location__list li {
	box-sizing: border-box;
	width: 300px;
	margin: 5px;
}
