.location {
	padding: 15px 10px;
	border-top: 1px solid green;
	@include container-fluid();
}

.location__title {
	text-align: center;
}

.location__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

.location__list li {
	box-sizing: border-box;
	width: 300px;
	margin: 5px;
}

.location__slider {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.location__slider img {
	width: 30%;
}