.news {
	padding-left: 0;
	padding-right: 0;
	background: transparent;
	box-shadow: none;
}
.news__title {
	width: 100%;
	text-align: center;
	text-shadow: -1px 2px 3px white,
							 1px -1px 3px white;
	& a {
		color: #333;
		text-decoration: none;
	}

	& a:hover,
	& a:focus {
		color: $hovercolor;
	}
}

.news__post {
	padding: 15px;
	background: white;
	box-shadow: 0px 1px 30px 2px rgba(0, 0, 0, 0.5);
}

.news__post--small {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-bottom: 40px;
	border-radius: 10px;
}

.news__post--big {
	margin-bottom: 20px;
	border-radius: 10px;

	& .news__post-img {
		margin: 20px auto;
	}
}

.news__post-img {
	display: block;
	width: 100%;
	border-radius: 10px;
}
 .news__post--small .news__post-img {
 	width: 100%;
	height: 100%;
 	margin: 0;
	order: -1;
}

.container {
	position: relative;
	z-index: 10;
}										
.container::before{
	position: absolute;
	content: "";
	left: 0;
	z-index: 5;
	width: 300%;
	height: 100%;
	background: white;
}
.news__text {
		box-sizing: border-box;
		width: 100%;
		padding-bottom: 15px;
		text-align: justify;
		// overflow: hidden;
		// height: 145px;
		// text-overflow: ellipsis;
		// white-space: wrap; 

	}

.news__post-title {
	margin-top: 10px;
	text-align: left;
	font-size: 22px;
	line-height: 28px;
	font-weight: 400;
	color: black;

	& a {
		color: #333;
		text-decoration: none;
	}

	& a:hover,
	& a:focus {
		color: $hovercolor;
	}
}

@media ($tablet-widths) {
	.news__post {
		padding-right: 30px;
	}
	.news__post--small {
		flex-direction: row;
	}

	.news__post--small .news__post-img {
		order: 0;
		width: 25%;
	}

	.news__post--small .news__text {
		padding-left: 30px;
	}

	.news__post-img {
		width: 50%;
		margin: 0 auto;
	}
}
// .news__btnAllpost {
	

// 	text-align: center;
// 	font-size: 19px;
// 	font-weight: 700;
// 	color: #008000;
// 	//text-shadow: 1px 1px 2px black;
// 	text-transform: uppercase;
// 	background: rgba(255, 255, 255, 0.7);
// 	border: 2px solid green;
// 	border-radius: 10px;
// 	text-decoration: none;
// 	&:hover,
// 	&:focus {
// 		text-shadow: 2px 1px 1px white;
// 	}
// }

.news__btnAllpost {
	display: block;
	max-width: 300px;
	padding: 15px 0;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.8px;
	font-size: 18px;
	font-weight: 700;
	color: green;
	background: rgba(255, 255, 255, 0.7);
	border: 2px solid green;
	border-radius: 10px;
	&:hover,
	&:focus {
		border: 2px solid $hovercolor;
		box-shadow: none;
		color: #ffffff;
		animation-name: btn-filling;
		animation-duration: 4s;
	}
}
