.page-header {
	background: url("../img/bg-header-5.jpg") no-repeat;
	background-position: 0 230px;
	background-size:  cover;

	@media ($tablet-widths) {
		background-position: center top ;
	}
}

.page-header__wrapper {
	display: flex;
	flex-direction: column;
	padding: 0;
	@include container-fluid();
}

.page-header__logo {
	width: 60%;
	margin: 20px auto; 
}
.page-header__logo img {
	width: 100%; 
}
.page-header__contacts {
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.page-header__contacts li {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

.page-header__number {
	text-align: center;

}

.page-header__number a {
	display: inline-block;
	box-sizing: border-box;
	width: auto;
	margin: 5px 15px;
	text-shadow: 3px 1px 1px #000;
}

.page-header__number a:hover,
.page-header__number a:focus {
	color: #FF5C6B;
	text-shadow: 2px 1px 1px #272727;
}

.page-header__number a:active {
	color: #EB0A19;
	text-shadow: 1px 1px 1px #fff;
}

.page-header__social-btn {
	display: inline-block;
}

.page-header a {
	color: white;
	text-decoration: none;
}

@media ($tablet-widths) {
	.page-header__wrapper {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.page-header__logo {
		width: 50%;
		margin-top: 40px;
	}

	.page-header__contacts {
		width: 50%;
		padding-top: 30px;
		text-align: right;
	}
  
  .page-header__number {
  	text-align: right;
  }
}

@media ($desktop-widths) {
	.page-header__contacts {
		padding-top: 40px;
	}
}