.rooms {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	border-top: 1px solid green;
	@include container-fluid();
}
.rooms_title {
	width: 100%;
	align-text: center;
}
