.rooms {
	padding-bottom: 20px;
	border-top: 1px solid green;
	@include container-fluid();
}

.rooms__text {

}

.rooms__gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background: #DEDEDE;
	border-radius: 10px;
}

.rooms__title {
	width: 100%;
	text-align: center;
}

.rooms__quantity {
	position: relative;
	box-sizing: border-box;
	width: 50%;

	& a:hover,
	& a:focus {
		color: $hovercolor;
	}
}

.rooms__quantity--left {
	text-align: right;
	&::before {
		position: absolute;
		content: "";
		width: 1px;
		height: 35px;
		right: 0;
		top: 12px;
		background: green;
	}
}

.rooms__quantity--right {
	text-align: left;
}



.rooms__quantity a {
	display: block;
	padding: 15px 120px;
	color: #333;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
}


.rooms__gallery-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  width: 100%;
  @include container-fluid();
}
.rooms__gallery-block h2 {
	width: 100%;
	text-align: center;
}

.rooms__gallery-block img {
  width: 200px;
	margin: 20px;
}

.rooms__quantity .rooms__quantity--activ {
	color: green;
	border-bottom: 1px solid green;
}