.rooms {
	padding: 0;
	padding-bottom: 20px;
	border-top: 1px solid green;
	@include container-fluid();
}

.rooms__text {
 font-size: 16px;
}

.rooms__gallery {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-bottom: 30px;
	margin-bottom: 30px;
	background: #DEDEDE;
	border-radius: 10px;
}

.rooms__title {
	width: 100%;
	text-align: center;
}

.rooms__quantity {
	box-sizing: border-box;
	width: 100%;

}

.rooms__quantity a {
	display: block;
	padding: 15px 0px;
	color: #333;
	font-size: 20px;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;

	&:hover,
	&:focus {
		color: $hovercolor;
	}
}


.rooms__gallery-block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
	align-items: center;
  width: 100%;
  padding-top: 30px;
  @include container-fluid();
}
// .rooms__gallery-block h2 {
// 	width: 100%;
// 	text-align: center;
// }

.rooms__gallery-block img {
  width: 300px;
	margin: 20px;
}

.rooms__quantity .rooms__quantity--activ {
	color: green;
	border-bottom: 1px solid green;
}


@media (min-width: 500px) {
	.rooms__gallery {
		flex-direction: row;
	}

	.rooms__quantity {
		width: 50%;
	}

 	.rooms__quantity--left {
		text-align: right;
		border-right: 1px solid green;
	}

	.rooms__quantity--right {
		text-align: left;
	}

	.rooms__gallery-block img {
		width: 250px;
	}
 }


 @media ($tablet-widths) {
 	
 }




.popup {
	position: fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.4);
	position:absolute;
	z-index:1;
	height:100%;
	width:100%;
}


.popup_img {
	position: relative;
	box-sizing: border-box;
	margin:0 auto;
	z-index:2;
	max-height:80%;
	max-width: 90%;
	margin:1% 0 0 0;


	 @media (max-width: 768px) {
	 	padding-top: 150px;
	 }

}