.slider {
	display: block;
	box-sizing: border-box;
	width: 90%;
	height: 260px;
	margin: 15px 0;
	padding: 10px;
	border-radius: 10px;
	@include container-fluid();
	outline: none;
}

.slider img {
	margin: 20px 5px;
	border-radius: 15px;
	outline: none;
}
.slick-next {
	right: 10px;
}

.slick-prev {
	left: 10px;
	z-index: 10;
}

// .slider .slick-current {
// 	transform: scale(1.3);
//   padding: 0 35px;
//   margin: 20px 15px;
//   border-radius: 15px;
// }